* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.client-order-navbar {
  background-color: #036b52;
  display: flex;
  height: 70px;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100vw;
}

.navbar-list-left {
  color: white;
  display: flex;
  list-style: none;
}

.li-order-navbar {
  align-items: center;
  cursor: pointer;
  display: flex;
  text-decoration: none;

}

.li-order-navbar li {
  color: white;
  padding: 25px 50px;
}

.li-order-navbar :hover {
  background-color: #2fc18c;
  color: black;
}

.navbar-list-right {
  color: white;
  display: flex;
  list-style: none;
}

.user-name {
  align-items: center;
  background-color: #421981;
  display: flex;
  padding: 5px 30px;
}

.exit-button {
  align-items: center;
  background-color: #056cf9;
  display: flex;
  padding: 5px 35px;
}

.exit-button:hover {
  background-color: #3f8cf8;
  cursor: pointer;
}

